<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Smarttask Education</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- style sheet -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-3.3.7/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker3.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/js/plugins/daterangepicker/daterangepicker.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/datatables.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/select2.min.css}" />
    <!-- thu vien validate -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/parsley.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome-animation.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/ionicons.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin-lte.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/ionicons.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/sweetalert.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/lobibox.min.css}" />
    <!-- css overwrite -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/overwrite.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fixgiaodienadmin.css}">
    <!-- jquery -->
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-3.3.7/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.slimscroll-1.3.6.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/fastclick-1.0.6.min.js}"></script>
    <!--<script type="text/javascript" th:src="@{/js/app.min.js}"></script>-->

    <!--<script type="text/javascript" th:src="@{/js/checkImage.js}"></script>-->
    <!--<script type="text/javascript" th:src="@{/js/checkImage.example.js}"></script>-->





    <script type="text/javascript" th:src="@{/js/select2/select2.full.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-datepicker.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/daterangepicker/moment.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/daterangepicker/daterangepicker.js}"></script>
    <script type="text/javascript" th:src="@{/js/app.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/javascript.js}"></script>
    <script type="text/javascript" th:src="@{/js/sweetalert.js}"></script>
    <script type="text/javascript" th:src="@{/js/lobibox.js}"></script>
    <script type="text/javascript" th:src="@{/js/lobibox.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/datatables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/datatables.config.js}"></script>
    <script type="text/javascript" th:src="@{/js/cuttom.js}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">


    </style>

</head>
<body class="hold-transition fixed skin-purple sidebar-mini">
<div class="wrapper">
    <div th:replace="fragments/header :: header">&nbsp;</div>
    <div class="content-wrapper">
        <!--<div layout:fragment="content">&nbsp;</div>-->
        <section class="content-header">
            <h1>
                Trang chủ
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#">Home</a>
                </li>
            </ol>
        </section>


        <!--test-->
    </div>

    <div th:replace="fragments/footer :: footer">&nbsp;</div>
</div>
<div class="bg-loading">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
        <h1 class="ml6">
		    <span class="text-wrapper">
		      <span class="letters">loading</span>
		    </span>
        </h1>
    </div>
</div>
</body>

</html>
