<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap-3.3.7/css/bootstrap.min.css}" />
</head>
<body>
	<footer class="main-footer">
		<!-- <div class="pull-right hidden-xs">Version 1.0</div> -->
		<strong>Copyright &copy; 2018. Iu 	Q</a>. All rights reserved.
		</strong>

	</footer>

</body>
</html>

