<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-3.3.7/bootstrap.min.css}" />
	<link rel="stylesheet" href="../../css/fixgiaodienadmin.css">
</head>
<body>
	<div th:fragment="header">
		<header class="main-header">
			<!-- Logo -->
			<a th:href="@{/}" class="logo">
				<span class="logo-mini">
	        <!--<img src="../../images/logo1.png" >-->

	      </span>
	      <!-- logo for regular state and mobile devices -->
	      <span class="logo-lg">
					 <img th:src="@{/images/logo1.png}" />
				</span>
			</a>

			<!-- Header Navbar: style can be found in header.less -->
			<nav class="navbar navbar-static-top" role="navigation">
				<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
					<span class="sr-only">Toggle navigation</span>
				</a>
			<div class="dashboard">
					<ul class="nav navbar-nav">
						<li class="dropdown notifications-menu" th:each="m : ${session.menuNav}">
							<a th:href="@{${m.pageUri}}" class="dropdown-toggle">
								<span th:text="#{${m.displayName}}">Dash board</span>
							</a>
						</li>
					</ul>
		</div>
				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">

						<!-- User Account: style can be found in dropdown.less -->
						<li class="dropdown user user-menu">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">

								<!-- <img  th:src="@{/images/logo.jpg}" class="user-image" alt="User Image"> -->
								<img src="../../images/gtvglogo.png" th:attr="src=@{/images/gogo.png}, title='User Image',alt='User Image',class='user-image'" />

								<span class="hidden-xs" th:text="${session.fullName}">Guest</span>
							</a>
							<ul class="dropdown-menu">
								<li class="user-body">
									<div class="list-group random-clolor-avatar">
										<a th:href="@{/user-info}" class="list-group-item">function</a>
									</div>
								</li>
								<!-- Menu Footer-->
								<li class="user-footer">
									<!--<div class="pull-left">-->
										<!--<a href="#" class="btn btn-default btn-flat">Profile</a>-->
									<!--</div>-->
									<div class="pull-right">
										<a th:href="@{/logout}" class="btn btn-default btn-flat">Sign out</a>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</header>

		<!-- Left side column. contains the sidebar -->
		<aside class="main-sidebar">
			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">

				<ul class="sidebar-menu">

					<li class="treeview">
						<a th:href="@{/monhoc}">

							<span>Quản lý môn học</span>
						</a>
					</li>
					<li class="treeview">
						<a th:href="@{/lophoc}">
							<span>Quản lý lớp học</span>
						</a>
					</li>
					<li class="treeview">
						<a th:href="@{/user}">
							<span>Quản lý tài khoản</span>
						</a>
					</li>
				</ul>
			</section>
		</aside>
	</div>
</body>
</html>
